@page "/mihistoria"

<div class="container-fluid py-4">
    <div class="bg-light p-5 rounded-3 mb-4 border">
        <h1 class="display-5 fw-bold">Mi historia</h1>
        <p class="fs-5">A continuación les escribiré información relevante de mi vida.</p>
    </div>

    <div class="row">

        <div class="col-md-4 mb-4">
            <div class="card h-100 border-0 shadow-sm">
                <img src="images/arthurMorgan.jpg" class="card-img-top p-3" alt="Formación">
                <div class="card-body">
                    <h5 class="card-title">Formación</h5>
                    <p class="card-text text-muted">Cuento algo sobre mi formación profesional.</p>
                    <button class="btn btn-primary">Conocer mas</button>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100 border-0 shadow-sm">
                <img src="images/luisMiguel.jpg" class="card-img-top p-3" alt="Hobbies">
                <div class="card-body">
                    <h5 class="card-title">Hobbies</h5>
                    <p class="card-text text-muted">Cuento algo sobre mis hobbies.</p>
                    <button class="btn btn-primary">Conocer mas</button>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100 border-0 shadow-sm">
                <img src="images/michaelJackson.jpg" class="card-img-top p-3" alt="Mi carrera">
                <div class="card-body">
                    <h5 class="card-title">Mi carrera</h5>
                    <p class="card-text text-muted">Cuento algo sobre lo que espero de mi carrera.</p>
                    <button class="btn btn-primary">Conocer mas</button>
                </div>
            </div>
        </div>

    </div>
</div>