<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp1</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mihistoria">
                <span class="bi bi-person-badge-fill" aria-hidden="true"></span> Mi Historia
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cambiomoneda">
                <span class="bi bi-currency-exchange" aria-hidden="true"></span> Cambio de Moneda
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="estadosistema">
                <span class="bi bi-shield-check" aria-hidden="true"></span> Estado de sistema
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="diasdelmes">
                <span class="bi bi-shield-check" aria-hidden="true"></span> Dias del mes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="numerosprimos">
                <span class="bi bi-list-ol" aria-hidden="true"></span> Números Primos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listarnumeros">
                <span class="bi bi-arrow-down-up" aria-hidden="true"></span> Listar Números
            </NavLink>
        </div>

    </nav>
</div>
